// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Sizes
$font-size-vvs: 5px;
$font-size-vs: 6px;
$font-size-xxxs: 8px;
$font-size-xxs: 9px;
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xlg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 20px;
$font-size-xxxl: 24px;
$font-size-vl: 32px;

// Colors
$white: #ffffff;
$black: #000000;

$primaryCharcoal: #212121;
$primaryCoral: #ec6264;
$primaryTorquish: #efefff;
$greyBorder: #a1a7c0;
$greyPlaceholder: #717171;
$mediumGreyBorder: #c6c6c6;
$neutralIron: #706f6a;
$lightest-gray: #d9d9d9;
$bgLightGreyColor: #555555;
$lightBlue: #f8faff;
$lightGray: #dedcce;
$lightGreen: #65da63;
$lightestGreen: #e6f8e8;
$blackOverlay: rgba(0, 0, 0, 0.7);
$greyBorderRgb: rgba(33, 33, 33, 0.14);
$red: #ff0000;

// font family
$FoundersGrotesk: FoundersGrotesk, sans-serif;
