.timeline {
  position: relative;
  width: 40%;
  float: right;
  &__header {
    height: 76px;
    padding-left: 40px;
    text-align: left;
    font-size: 30px;
    &-label {
    }
  }
  &__body {
    overflow-y: scroll;
  }
  &__footer {
  }
}
